/****************************************
  VARIABLES
****************************************/
$black: #000000;
$white: #FFFFFF;
$grey: #DFDFDF;
$gradient: linear-gradient(to top right, #FFC593, #BC7198, #5A77FF);

/****************************************
  RESET AND SCROLLBAR
****************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/****************************************
  BASE STYLES
****************************************/
.body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.btn,
.link {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: initial;
}

.container {
  width: calc(100% - 3rem);
  margin-inline: auto;

  &--secondary {
    width: calc(100% - 3.5rem);
    margin-inline: auto;
  }
}

.heading {
  font-weight: 700;
  text-transform: uppercase;
}

.accent {
  background-image: $gradient;
}

// Placed below btn resets to not interfer with display toggling
.hidden {
  display: none;
}

/****************************************
  NAV
****************************************/
.nav {
  display: flex;
  align-items: center;
  height: 72px;
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: none;
    width: 100vw;
    background-color: $white;
    padding: 2rem;
    position: absolute;
    left: 0;
    top: 70px;
  }

  &__list {
    list-style: none;
    text-align: center;
    border-bottom: 1px solid rgba($black, 25%);
  }

  &__item {
    margin-bottom: 1.25rem;
  }

  &__link {
    font-size: 0.9375rem;
    line-height: 19.53px;
    letter-spacing: 2.5px;
    transition: all 250ms;

    &:hover,
    &:focus {
      color: rgba($black, 30%);
    }
  }
}

/****************************************
  HERO
****************************************/
.hero {
  display: flex;
  flex-direction: column;
  background-color: $black;
  color: $white;

  &__context {
    order: 2;
    padding: 4.5rem 0;
    position: relative;

    .accent {
      height: 6px;
      width: 128px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__heading {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 3.33px;
  }

  &__text {
    margin-bottom: 1.5rem;
    color: rgba($white, 60%);
  }
}

/****************************************
  FOOTER
****************************************/
.footer {
  background-color: $black;

  &__icons {
    width: max-content;
    // background-color: rebeccapurple;
  }

  &__icon-link {
    margin-right: 1rem;
  }

  &__icon-link:hover,
  &__icon-link:focus {

    .facebook {
      fill: url(#facebook);
    }

    .youtube {
      fill: url(#youtube);
    }

    .twitter {
      fill: url(#twitter);
    }

    .pinterest {
      fill: url(#pinterest);
    }

    .instagram {
      fill: url(#instagram);
    }
  }
}

/****************************************
  BUTTONS
****************************************/
.btn {
  background-color: initial;
  border: initial;
  font-family: inherit;
  transition: all 400ms;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &--dark {
    background-color: $black;
    color: $white;
  }

  &--light {
    background-color: $white;
    color: $black;
  }

  &--dark,
  &--light {

    &:hover,
    &:focus {
      background-color: $grey;
      color: $black;
    }
  }

  &--arrow {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 15.62px;
    letter-spacing: 2px;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &--arrow-light {
    color: $white;
  }

  &--arrow-dark {
    color: $black;
  }

  &--nav {
    width: 100%;
    font-size: 0.9375rem;
    line-height: 19.53px;
    letter-spacing: 2.5px;
    padding: 0.875rem 0;
    margin-top: 1.25rem;
  }

  &--hero {
    .arrow {
      margin-left: 1.125rem;
    }
  }
}

/****************************************
  IMAGES
****************************************/
.image {
  max-width: 100%;
  object-fit: cover;

  &--tablet,
  &--desktop {
    display: none;
  }

  &--create {
    height: 294px;
  }
}