/****************************************
  VARIABLES
****************************************/
$black: #000000;
$white: #FFFFFF;
$grey: #DFDFDF;
$gradient: linear-gradient(to top right, #FFC593, #BC7198, #5A77FF);

/****************************************
  RESET AND SCROLLBAR
****************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/****************************************
  BASE STYLES
****************************************/
.body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.container {
  width: calc(100% - 3rem);
  margin-inline: auto;

  &--secondary {
    width: calc(100% - 4rem);
    margin-inline: auto;
  }

  @media (min-width: 768px) {
    &,
    &--secondary {
      width: min(100% - 5rem, 1110px);
    }
  }
}

.btn,
.link {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.heading {
  font-weight: 700;
  text-transform: uppercase;
}

.accent {
  background-image: $gradient;
}

// Placed below btn resets to not interfer with display toggling
// Display: unset || on tablet and desktop
.hidden {
  display: none;
}

/****************************************
  NAV
****************************************/
.nav {
  display: flex;
  align-items: center;
  height: 72px;
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    width: 100%;
    background-color: $white;
    padding: 2rem;
    position: absolute;
    left: 0;
    top: 70px;
    z-index: 1;
  }

  &__list {
    list-style: none;
    text-align: center;
    border-bottom: 1px solid rgba($black, 25%);
  }

  &__item {
    margin-bottom: 1.25rem;
  }

  &__link {
    font-size: 0.9375rem;
    line-height: 19.53px;
    letter-spacing: 2.5px;
    transition: all 250ms;

    &:hover,
    &:focus {
      color: rgba($black, 30%);
    }
  }

  @media (min-width: 768px) {
    &__menu {
      display: flex;
      align-items: center;
      padding: 0;
      position: unset;
    }

    &__list {
      display: flex;
      border-bottom: unset;
      margin-inline: auto;
    }
  
    &__item {
      margin-bottom: 0;

      &:nth-of-type(2) {
        margin-inline: 2.25rem;
      }
    }
  
    &__link {
      font-size: 0.75rem;
      line-height: 15.62px;
      letter-spacing: 2px;
    }
  }
}

// Absolutely positioned to btn--hamburger.
.hamburger {
  background-color: $black;
  width: 20px;
  height: 2px;
  border-radius: 1rem;
  transition: all 500ms;
  position: absolute;
  left: 0;

  &--top {
    top:  3px;
  }

  &--bottom {
    bottom: 3px;
  }
}

// Toggled on click for .hamburger--top
.flip-top {
  top: 7px;
  transform: rotate(-225deg);
}

// Toggled on click for .hamburger--bottom
.flip-bottom {
  bottom: 7px;
  transform: rotate(-315deg);
}

/****************************************
  HERO
****************************************/
.hero,
.hero--secondary {
  display: flex;
  flex-direction: column;
  background-color: $black;
  color: $white;

  &__context {
    order: 2;
    padding: 4.5rem 0;
    position: relative;

    .accent {
      height: 6px;
      width: 128px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__heading {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 3.33px;
  }

  &__text {
    max-width: 40ch;
    color: rgba($white, 60%);

    &--home,
    &--stories {
      margin-bottom: 1.5rem; 
    }

    &--stories {
      max-width: 38ch;
    }
  }

  &--secondary {
    .hero__context {
      display: flex;
      flex-direction: column;
      padding: 3rem 0;
    }
  }

  &__description {
    order: -1;
    font-size: 0.75rem;
    line-height: 15.62px;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  &__sub-text {
    font-size: 0.8125rem;
    line-height: 16.93px;
    margin-bottom: 1.5rem;

    .opaque {
      opacity: 75%;
      margin-right: 0.5rem;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 495px 273px 1fr;
    grid-template-rows: auto;

    .container--secondary {
      width: unset;
      margin-inline: unset;
    }

    &__context {
      grid-column: 2;
      grid-row: 1;
      padding: 0 3.375rem;
      margin-block: auto;
  
      .accent {
        height: 100%;
        width: 6px;
      }
    }
  
    &__heading {
      margin-bottom: 1.3125rem;
      font-size: 2.5rem;
      line-height: 3rem;
      letter-spacing: 4.17px;
    }

    &__text--home {
      margin-bottom: 3rem;
    }

    &--secondary {
      position: relative;

      .hero__context {
        height: max-content;
        padding: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      .hero__heading {
        margin-bottom: 1.5rem;
      }
    }
  }
}

/****************************************
  MAIN
****************************************/
.main {
  &__heading {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 3.33px;
    margin-bottom: 1rem;
  }

  &__text {
    margin-bottom: 1.4375rem;
    max-width: 40ch;
  }

  @media (min-width: 768px) {
    &__heading {
      font-size: 2.5rem;
      line-height: 3rem;
      letter-spacing: 4.17px;
      margin-bottom: 1.3125rem;
    }
  
    &__text {
      margin-bottom: 3rem;
    }
  }
}

.beautiful {
  display: flex;
  flex-direction: column;
  color: $black;

  &__context {
    order: 2;
    padding: 4.5rem 0;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 273px 495px 1fr;
    grid-template-rows: 600px;

    .container--secondary {
      width: unset;
      margin-inline: unset;
    }

    &__context {
      grid-column: 3;
      grid-row: 1;
      padding: 0 3.5rem;
      margin-block: auto;
    }
  }
}

.designed {
  display: flex;
  flex-direction: column;
  color: $black;

  &__context {
    order: 2;
    padding: 4.5rem 0;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 495px 273px 1fr;
    grid-template-rows: 600px;

    .container--secondary {
      width: unset;
      margin-inline: unset;
    }

    &__context {
      grid-column: 2;
      grid-row: 1;
      padding: 0 3.5rem;
      margin-block: auto;
    }
  }
}

// Main section stories
.stories {
  background-color: $black;
  color: $white;

  &--secondary {
    color: $white;

    .story__heading {
      margin-top: 0;
    }
  }
}

.story {
  grid-column: 2/3;
  height: 375px;
  width: 100%;
  margin-inline: auto;
  position: relative;
  background-color: $white;
  z-index: 0;

  &__slide {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    transition: all 400ms;

    .accent {
      width: 100%;
      height: 6px;
      position: absolute;
      bottom: -6px;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      bottom: 24px;
    }
  } 

  &__context {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    height: 100%;
    width: 100%;
    padding: 0 2rem 2.5rem 2rem;
    background-image: linear-gradient(to bottom, rgba($black, 0%), rgba($black, 66%));
  }

  &__heading {
    margin-top: auto;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
  }

  &__text {
    font-size: 0.8125rem;
    line-height: 16.93px;
    margin-bottom: 1rem;
  }

  &__date {
    margin-top: auto;
    margin-bottom: 0.25rem;
    order: -1;
  }
}

.slide-bg {
  background-repeat: no-repeat;
  background-size: cover;

  &--1 {
    background-image: url(../assets/stories/desktop/mountains.jpg);
  }
  
  &--2 {
    background-image: url(../assets/stories/desktop/cityscapes.jpg);
  }
  
  &--3 {
    background-image: url(../assets/stories/desktop/18-days-voyage.jpg);
  }
  
  &--4 {
    background-image: url(../assets/stories/desktop/architecturals.jpg);
  }

  &--5 {
    background-image: url(../assets/stories/desktop/world-tour.jpg);
  }

  &--6 {
    background-image: url(../assets/stories/desktop/unforeseen-corners.jpg);
    background-position: bottom;
  }

  &--7 {
    background-image: url(../assets/stories/desktop/king-on-africa.jpg);
  }

  &--8 {
    background-image: url(../assets/stories/desktop/trip-to-nowhere.jpg);
  }

  &--9 {
    background-image: url(../assets/stories/desktop/rage-of-the-sea.jpg);
  }

  &--10 {
    background-image: url(../assets/stories/desktop/running-free.jpg);
  }

  &--11 {
    background-image: url(../assets/stories/desktop/behind-the-waves.jpg);
  }

  &--12 {
    background-image: url(../assets/stories/desktop/calm-waters.jpg);
  }

  &--13 {
    background-image: url(../assets/stories/desktop/milky-way.jpg);
  }

  &--14 {
    background-image: url(../assets/stories/desktop/dark-forest.jpg);
  }

  &--15 {
    background-image: url(../assets/stories/desktop/somwarpet.jpg);
  }

  &--16 {
    background-image: url(../assets/stories/desktop/land-of-dreams.jpg);
  }
}

@media (min-width: 400px) {
  .stories {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 400px 1fr;
      grid-template-rows: repeat(4, auto);
    }

    &--secondary {
      display: grid;
      grid-template-columns: 1fr 400px 1fr;
      grid-template-rows: repeat(16, auto);
    }  
  }
}

@media (min-width: 768px) {
  .stories .stories__wrapper,
  .stories--secondary {
    max-width: 840px;
    margin-inline: auto;
    grid-template-columns: minmax(auto, 420px) minmax(auto, 420px);
  }

  .stories {
    &__wrapper {
      grid-template-rows: repeat(2, 1fr);
    }

    &--secondary {
      grid-template-rows: repeat(8, 1fr);
    }  
  }

  .story {
    grid-column: unset;
    height: 500px;

    &__context {
      padding: 0 2.625rem 2.5rem 2.625rem;
    }
  }
}

// Main section features
.features {
  background-color: $white;
  padding: 5rem 0;
  text-align: center;
  // Allows overlapping of slide accents in index.html.
  position: relative;
}

.feature,
.feature--secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature {

  &:nth-of-type(2) {
    margin-block: 3.5rem;
  }

  &__context {
    order: 2;
    margin-top: 3rem;
  }

  &__heading {
    font-size: 1.125rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

  &__text {
    max-width: 40ch;
  } 

  &--secondary {

    margin-bottom: 3.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .features {
    padding: 7.5rem 0;
  }
  
  // .feature--secondary {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }
  
  .feature {
  
    &:nth-of-type(2) {
      margin-block: 5rem;
    }

    // &--secondary {
  
    //   margin-bottom: 3.5rem;
  
    //   &:last-child {
    //     margin-bottom: 0;
    //   }
    // }
  }
}

// Main section purchase
.purchase {
  padding: 4rem 0;

  &__wrapper {
    display: flex;
    align-items: center;
    width: max-content;
    margin-inline: auto;
    margin-bottom: 2.5rem;

    // &--secondary {
      
    // }
  }

  &__heading {
    font-size: 1.125rem;
    transition: all 400ms;
    // line-height: 1.5625rem;
  }

  &__track,
  &__thumb {
    display: inline-block;
    transition: all 400ms;
  }

  &__track {
    width: 64px;
    height: 32px;
    border-radius: 1rem;
    background-color: $grey;
  }

  &__thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $black;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.monthly {

  &__thumb {
    transform: translateX(-16px);
  }
}

.yearly {
  opacity: 50%;

  &__thumb {
    transform: translateX(16px); 
  }
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 1.5rem;

  &--primary {
    background-color: #F5F5F5;
    color: $black;
  }

  &--secondary {
    background-color: $black;
    color: $white; 
    margin: 1.5rem 0;
    position: relative;

    .accent {
      height: 6px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__heading {
    font-size: 1.5rem;
    margin-bottom: 1.125rem;
  }

  &__text {
    opacity: 60%;
    max-width: 35ch;
    margin-inline: auto;
    margin-bottom: 2.5rem;
  }

  &__price {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 4.17px;
  }

  &__price-text {
    margin-bottom: 2.5rem;
  }
}

// Main section secifications
.compare {
  padding-bottom: 4rem;
}

// Hide specifics__label on larger screens
.specifics {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;

  &__heading {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 15.62px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &--secondary {
      text-align: center;
    }

    &--body {
      grid-column: 1/-1;
      grid-row: 1;
      margin-bottom: 1rem;
    }
  }

  &__row {
    border-bottom: 1px solid $grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 1.5rem 0;

    &:first-of-type {
      border-top: 1px solid $black;
      margin-top: 1.5rem;
    }
  }
  
  &__data {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__label {
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 13.02px;
    letter-spacing: 1.67px;
    opacity: 50%;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
}

// invisible properties get unset on larger screens
// inviisible--data always remains the same
.invisible,
.invisible--data {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
}

// Main section beta
.beta {
  background-image: url(../assets/shared/desktop/bg-beta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  color: $white;

  &__context {
    padding: 4rem 0;
    position: relative;

    .accent {
      height: 6px;
      width: 128px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__heading {
    margin-bottom: 1.5rem;
  }

  @media (min-width: 768px) {
    position: relative;

    &__context {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4.25rem 0;
      position: unset;

      .accent {
        height: 100%;
        width: 6px;
      }
    }

    &__heading {
      margin-bottom: 0;
    }
  }
}

/****************************************
  FOOTER
****************************************/
.footer {
  background-color: $black;
  color: $white;
  padding: 3.5rem 0;
  text-align: center;
  // Allows overlapping of slide accents in stories.html.
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 2rem;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 154px;
    height: 20px;
    margin-bottom: 3rem;
  }

  &__icon-link {
    height: 20px;
  }

  &__icon-link:hover,
  &__icon-link:focus {

    .facebook {
      fill: url(#facebook);
    }

    .youtube {
      fill: url(#youtube);
    }

    .twitter {
      fill: url(#twitter);
    }

    .pinterest {
      fill: url(#pinterest);
    }

    .instagram {
      fill: url(#instagram);
    }
  }

  &__list {
    list-style: none;
    margin-bottom: 7.5rem;
  } 

  &__item {
    margin-bottom: 1.1875rem;
  }

  &__link {
    font-size: 0.75rem;
    line-height: 15.62px;
    letter-spacing: 2px;
    transition: all 250ms;

    &:hover,
    &:focus {
      opacity: 30%;
    }
  }
}

.copyright {
  opacity: 50.25%;
  line-height: 19.53px;
  margin-top: 2.125rem;
}

@media (min-width: 768px) {
  .footer {
    padding: 4.5rem 0;
  
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      align-items: unset;
    }
  
    .logo {
      grid-column: 1;
      grid-row: 1;
    }
  
    &__icons {
      grid-column: 1;
      grid-row: 3;
      margin-bottom: 0;
    }
  
    &__list {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      justify-content: space-between;
      width: 315px;
      margin-bottom: 4.5rem;
    } 
  
    &__item {
      margin-bottom: 0;
    }
  }
  
  .copyright {
    grid-column: 2;
    grid-row: 3;
    justify-self: flex-end;
    margin-top: 0;
  }
}
/****************************************
  BUTTONS
****************************************/
.btn {
  background-color: initial;
  border: initial;
  font-family: inherit;
  transition: all 400ms;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &--dark {
    background-color: $black;
    color: $white;
  }

  &--light {
    background-color: $white;
    color: $black;
  }

  &--dark,
  &--light {

    &:hover,
    &:focus {
      background-color: $grey;
      color: $black;
    }
  }

  &--arrow {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 15.62px;
    letter-spacing: 2px;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &--arrow-light {
    color: $white;
  }

  &--arrow-dark {
    color: $black;
  }

  &--hamburger {
    position: relative;
    height: 1rem;
    width: 1.25rem;

    &:hover,
    &:focus {
      .hamburger {
        background-color: #6f6f6f;
      }
    }
  }

  &--nav {
    width: 100%;
    font-size: 0.9375rem;
    line-height: 19.53px;
    letter-spacing: 2.5px;
    padding: 0.875rem 0;
    margin-top: 1.25rem;
  }

  &--hero,
  &--beta {
    .arrow {
      margin-left: 1.125rem;
    }
  }

  &--view {
    .arrow {
      margin-left: 1.625rem;
    }
  }

  &--story {
    padding-top: 1.25rem;
    border-top: 1px solid rgba($white, 25%);

    .arrow {
      margin-left: auto;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &--pricing {
    display: flex;
    align-items: center;
    margin-inline: 2rem;
    position: relative;

    &:hover,
    &:focus {
      .purchase__track {
        background-color: $black;
      }

      .purchase__thumb {
        background-color: $white;
      }
    }
  }

  &--plan {
    width: min(100%, 245px);
    font-size: 0.75rem;
    line-height: 15.62px;
    letter-spacing: 2px;
    padding: 0.75rem 0;
  }

  &--footer {
    .arrow {
      margin-left: 1.375rem;
    }
  }

  @media (min-width: 768px) {
    &--hamburger {
      display: none;
    }

    &--nav {
      width: unset;
      font-size: 0.75rem;
      line-height: 15.62px;
      letter-spacing: 2px;
      padding: 0.75rem 1.5rem;
      margin-top: 0;
    }

    &--footer {
      grid-column: 2;
      grid-row: 1;
      justify-self: flex-end;
      align-self: flex-start;

      .arrow {
        margin-left: 1rem;
      }
    }
  }
}

/****************************************
  IMAGES
****************************************/
.image {
  max-width: 100%;
  object-fit: cover;

  // Remove after refactor
  &--tablet,
  &--desktop,
  &--secondary {
    display: none;
  }

  &--hero {
    height: 294px;

    &-home {
      object-position: 50% 35%;
    }

    &-stories {
      height: 317px;
      object-position: 65% 0%;
    }

    &-features {
      object-position: left;
    }

    &-pricing {
      object-position: top;
    }
  }

  &--beautiful,
  &--designed {
    height: 271px;
  }

  &--designed {
    object-position: top;
  }

  @media (min-width: 768px) {
    &--hero {
      grid-column: 3/-1;

      &-home {
        height: 650px ;
        object-position: center;
      }

      &-features,
      &-pricing {
        height: 490px;
      }

      &-stories {
        height: 650px;
        object-position: 65% 0%;
      }
    }

    &--beautiful,
    &--designed {
      height: 100%;
      width: 100%;
    }

    &--designed {
      object-position: center;
      grid-column: 3/-1; 
    }

    &--beautiful {
      object-position: 10% 50%;
      grid-column: 1/3;
    }
    
  }
}

/****************************************
  KEYFRAMES
****************************************/
@keyframes slide-in {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100vw);
  }
}

@keyframes fade {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.slide-in {
  animation: slide-in 500ms backwards;
}

.slide-out {
  animation: slide-out 500ms forwards;
}

.fade {
  animation: fade 500ms backwards;
}